@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Lato:wght@100;300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
html{
    overflow-x: hidden;
}

:root{
    --clr-negro:#464646;
    --clr-blanco:#f5f3ee;
    --clr-dorado:#FFD700;
    --clr-fondo:#fffffa;
    --clr-dark: #222222;
}
body{
    background-color: var(--clr-fondo);
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 9px;
}
body::-webkit-scrollbar-thumb {
    background-color: #ad0191;
    border-radius: 6px;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #de00b9;
}
html{
    scroll-behavior: smooth;
}
[id] {
    scroll-margin-top: 110PX;
}
#cards-totales {
    scroll-margin-top: 130PX;
}
/* NAV */
.nav-bars{
    display: none;
}
.section-nav{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    box-shadow: 1px 0 10px 0 #999;
    background-color: var(--clr-blanco); 
}
.nav-container{
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icons {
    display: flex;
    gap: 1.5rem;
    width: 150px;
    align-items: center;
}
.nav-icons a{
    color: var(--clr-negro);
    text-decoration: none;
    font-size: 1.6rem;
}
.nav-icons a:hover{
    transition: 300ms;
    transform: scale(1.1);
    color: #999999;
}
.nav-logo img{
    border-radius: 100%;
    width: 76px;
    padding: 5px;
    box-shadow: 0 0 3px 0 #777;
}
.nav-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav1-ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 400px;
    justify-content:end;
}
.nav2-ul{
    justify-content:start;
}
.nav1-li a{
    color: var(--clr-negro);
    list-style: none;
    font-size: 0.75rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-btn{
    width: 150px;
    text-align: end;
}
.nav1-li a:hover{
    transition: 300ms;
    color: #999999;
}
.nav-btn a{
    text-decoration: none;
    color: var(--clr-negro);
    background-color:#ff00d4;
    border-radius: 20px;
    padding: .7rem 2rem;
    color: var(--clr-blanco);
    font-size: .8rem;
    font-weight: 600;
    box-shadow: 0 0 5px 0 var(--clr-negro);
}
.nav-btn a:hover{
    transition: 320ms;
    background-color:#de00b9;
}
.nav-btn:hover{
    transition: 300ms;
    transform: scale(1.03);
}
/* ENCABEZADO */
.hero{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/hero-container.png);
    background-size: cover;
    background-position:center;
    background-repeat: no repeat;
}
.hero-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    margin: auto;
    gap: 2rem;
}
.hero-titulos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}
.hero-titulos a {
    background-color: #ff00d4;
    font-size: 1.1rem;
    width: max-content;
    margin: 0 auto ;
    color: var(--clr-blanco);
    padding: .6rem 2.1rem;
    margin-top: 1rem;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    transition: background 300ms; 
}
.hero-titulos a:hover {
    background-color: #de00b9;
}
.hero-container h1{
    padding:0 1rem 3rem 1rem;
    text-align: center;
    font-size:2.5rem;
    letter-spacing: 5px;
    font-weight: 900;
    color: #000;
    border-bottom: 2px solid #ff00d481;
    text-transform: uppercase;
}
.hero-container h2{
    max-width: 900px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: var(--clr-negro);
    border-radius: 10px;
    padding: 1rem;
    letter-spacing: 1px;
}
/* CARD */
.DIV-CONTAINER{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 200px;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    margin-top: 6rem;
}
.card{
    display: flex;
    align-items: center;
    box-shadow: 0 5px 20px 5px #de00b941;
    border-radius: 10px;
    transition: transform 300ms ease-in-out;
}
.card img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
#cards-totales .card:hover {
    transform: translateY(-15px);
}
/* MAIN */
.main-container{
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 6rem;
}
.main-titulo-h1 {
    font-size: 2.3rem;
    font-weight: 900;
    color: var(--clr-negro);
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 3rem;
}
.main-titulo-h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--clr-negro);
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.main-p {
    font-size: 1rem;
    font-weight: 400;
}
.img-bitcoin {
    position: absolute;
    width: 230px;
    bottom: -150px;
    right: -70px;
    z-index: -1;
}
.sociedad-llc_container{
    max-height: 400px;
    display: flex;
    gap: 2rem;
    padding: 0 7rem;
}
.sociedad-llc_p {
    width: 50%;
    height: 100%;
}
.sociedad-llc_img_container {
    height: 300px;
    width: 40%;
    background: url(../img/sociedad-min.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.main-verde {
    text-align: center;
    color:green;
    font-weight:bold;
    text-transform:uppercase;
    margin: 1rem 0 1.5rem;
}
.llc-boton_container{
    display: flex;
    justify-content: center;
}
.sociedad-llc_p a{
    text-decoration:none;
    padding: .5rem 1.6rem;
    background-color: #ff00d4;
    color:var(--clr-blanco);
    border-radius:30px;
}
.sociedad-llc_p a:hover{
    background-color:#de00b9;
}
/* SECTION CURSOS Y COMUNIDAD */
.section-cursosComunidad{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top:6rem;
}
.section-cursosComunidad-tiulo-h1{
    font-size: 2.3rem;
    font-weight: 900;
    color: var(--clr-negro);
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}
.section-cursosComunidad-tiulo-h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr-negro);
    text-align: center;
    letter-spacing: 2px;
}
.section-cursosComunidad-container {
    display: flex;
    width: 100%;
    padding: 0 7rem;
    gap: 2rem;
    margin-top: 2rem;
}
.comunidad-img {
    width: 50%;
    height: 300px;
    background-image: url(../img/Comunidad-min.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.section-cursosComunidad-p1 {
    width: 50%;
}
.section-cursosComunidad-p1 h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--clr-negro);
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.section-cursosComunidad-p1_p {
    font-size: 1rem;
    font-weight: 400;
}
.section-comunidad-boton {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-comunidad-boton p{
    color:green;
    font-weight:bold;
    text-transform:uppercase;
    margin: 1rem 0;
}
.section-comunidad-boton a{
    text-decoration:none;
    padding: .5rem 1.6rem;
    background-color: #ff00d4;
    color:var(--clr-blanco);
    border-radius:30px;
}
.section-comunidad-boton a:hover{
    background-color:#de00b9;
}
/* SECTION EBOOKS */
.section-ebooks{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.section-ebooks-h1{
    font-size: 2.3rem;
    font-weight: 900;
    color: var(--clr-negro);
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 5px;
}
.ebook-span{
    color: green;
}
.section-ebooks-container{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.section-ebook-1, .section-ebook-2{
    width: 50%;
    box-shadow: 0 0 5px 0 #a9a9a9;
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.section-ebook-info h2, .section-ebook-info h2{
    font-size: 1.7rem;
    color: var(--clr-negro);
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    border-bottom: 2px solid #ff00d4;
    padding-bottom: 1.2rem;
    margin-bottom: 1.5rem;
}
.section-ebook-info p, .section-ebook-info p{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
}
.section-ebook-1 img, .section-ebook-2 img{
    width: 100%;
    height: 350px;
}
.section-ebook-imgButon{
    padding: 2rem;
}
.section-ebook-imgButon a{
    text-align: center;
    text-decoration: none;
    color: var(--clr-blanco);
    background-color: #ff00d4;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    font-weight: 600;
    display: block;
}
.section-ebook-1 a:hover, .section-ebook-2 a:hover{
    transition: 300ms;
    background-color: #de00b9;
}
/* SECTION SOBRE NOSOTROS */
.sNosotros-container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 5rem;
}
.sNosotros-container h1{
    font-size: 2.3rem;
    font-weight: 900;
    color: var(--clr-negro);
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 5px;
}
.sNosotros-info{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.sNosotros-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-height: 550px;
    text-align: center;
}
.sNosotros-card-info img{
    width: 160px;
}
.sNosotros-card-info h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr-negro);
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}
.sNosotros-card-info p{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 1.2rem;
}
.sNosotros-redes{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.sNosotros-redes a{
    text-decoration: none;
    font-size: 2.3rem;
}
.fa-youtube{
    color: red;
}
.fa-telegram{
    color: #229ED9;
}
.fa-instagram{
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
/* FOOTER */
.footer{
    width: 100%;
    height: 300px;
    background: linear-gradient(#ad0191, #009ca1);
}
.footer-container{
    height: 100%;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.footer-logo a img{
    width: 90px;
    padding: 5px;
    box-shadow: 0 0 1px 0 #fff;
    border-radius: 50%;
}
.footer-titulos{
    max-width: 300px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
}
.footer-titulos h1{
    font-size: 1.4rem;
    font-weight: 900;
}
.footer-titulos p{
    font-size: .9rem;
    font-weight: 500;
}
.footer-contacto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
}
.footer-iconos{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.footer-iconos a{
    text-decoration: none;
    color: #fff;
    width: 43px;
    height: 43px;
    border: 1px solid #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-dr{
    width: 100%;
    text-align: center;
    background-color:var(--clr-dark);
    color: var(--clr-blanco);
    font-size: .6rem;
    letter-spacing: .5px;
    padding: 5px;
}
/* MODO OSCURO */
.dark{
    position: relative;
    display: flex;
    align-items: center;
    gap: .8rem;
    border: 1px solid var(--clr-negro);
    border-radius: 50px;
    font-size: .9rem;
    cursor: pointer;
    padding: 4px;
}
.circulo{
    border: 2px solid var(--clr-negro);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    position: absolute;
    top: -1px;
    left: -2px;
    right: unset;
    background-color: var(--clr-blanco);
}
.darkMoon{
    right: -2px;
    left: unset;
}
.darkReal{
    background-color: var(--clr-dark);
    color: var(--clr-blanco);
    transition: 300ms;
}
body.darkReal .dark, body.darkReal .hero-titulos h1{
    color: var(--clr-negro);
    transition: 300ms;
}
body.darkReal .section-nav, body.darkReal .visible{
    background-color: var(--clr-dark);
    color: var(--clr-blanco);
    transition: 300ms;
}
body.darkReal .hero-container h2{
    color: var(--clr-blanco);
    transition: 300ms;
}
body.darkReal .nav-bars,
body.darkReal .nav1-li a,
body.darkReal .card, 
body.darkReal .card-titulo h3 a, 
body.darkReal .main-container,
body.darkReal .main-container h1, 
body.darkReal .main-container h2,
body.darkReal .section-cursosComunidad h1,
body.darkReal .section-cursosComunidad h2,
body.darkReal .section-cursosComunidad-container h3,
body.darkReal .section-cursosComunidad-container p,
body.darkReal .section-cursos h1,
body.darkReal .section-cursos-videos a,
body.darkReal .section-ebooks h1,
body.darkReal .section-ebooks h2,
body.darkReal .sNosotros-container,
body.darkReal .sNosotros-container h1,
body.darkReal .sNosotros-container h2 {
    color: var(--clr-blanco);
    transition: 300ms;
}
body.darkReal .main-verde,
body.darkReal .section-comunidad-boton p,
body.darkReal .section-ebooks h2 span{
    color: yellow;
    transition: 300ms;
}
body.darkReal a:hover, body.darkReal .card-titulo h3 a:hover{
    color: #ffffff;
}
body.darkReal .footer{
    transition: 300ms;
    background: linear-gradient(#430037, #003536);
}
body.darkReal .hero-titulos h1{
    color: var(--clr-blanco);
    transition:300ms;
}
body.darkReal .card-img img {
    box-shadow: none;
}
body.darkReal .card {
    box-shadow: 0 5px 20px 5px #343434;
}
/* RESPONSIVE */
/* nav */
@media screen and (max-width : 1250px){  
    .nav-info{
        position: absolute;
        top: 100px;
        right:-100%;
        background-color: var(--clr-blanco);
        width: 100%;
        height: 100vh;
        flex-direction: column;
        transition: 300ms;
    }
    .visible{
        right: 0;
    }
    .nav-bars {
        display: block;
        position: absolute;
        right: 8%;
    }
    .fa-bars{
        display: block;
        font-size: 1.5rem;
        color: var(--clr-negro);
        cursor: pointer;
        text-align: center;
    }
    .nav-btn, .nav-logo{
        display: none;
    }
    .nav1-ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 900;
        letter-spacing: 2px;
        gap: 1rem;
    }
}
@media screen and (max-width:600px){
    .nav-icons a{
        font-size:1.2rem;
        gap:1.5rem 
    }
}
/* HERO */
@media screen and (max-width:1000px){
    .hero {
        background: none;
    }
}
@media screen and (max-width:900px){
    .hero-container h1{
        font-size: 2.5rem;
    }
    .hero-container h2{
        font-size: .8rem;
    }
}
@media screen and (max-width:530px){
    .hero-container h1{
        font-size: 2.1rem;
        padding: 1rem;
    }
    .hero-container h2{
        font-weight: 500;
    }
}
@media screen and (max-width:500px){
    .hero-container h1 {
        font-size: 1.7rem;
    }
}
/* CARDS */
@media screen and (max-width : 1000px){
    .DIV-CONTAINER {
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
    }
}
@media screen and (max-width : 530px){
    .DIV-CONTAINER {
        gap: 1rem;
    }
}
@media screen and (max-width : 480px){
    .DIV-CONTAINER {
        grid-template-columns: 140px 140px;
        grid-template-rows: 140px 140px;
    }
}
/* SOCIEDAD LLC */
@media only screen and (max-width: 1150px) {
    .img-bitcoin {
        display: none;
    }
    .main-p {
        font-size: .8rem;
    }
}
@media only screen and (max-width: 950px) {
    .sociedad-llc_container {
        padding: 0;
        max-height: max-content;
        flex-direction: column;
    }
    .sociedad-llc_p {
        width: 100%;
    }
    .sociedad-llc_img_container {
        height: 350px;
        width: 100%;
    }
}
@media only screen and (max-width: 900px) {
    .main-titulo-h1 {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 600px) {
    .sociedad-llc_img_container {
        height: 200px;
    }
}
/* COMUNIDAD */
@media only screen and (max-width: 1150px) {
    .section-cursosComunidad-p1_p {
        font-size: .8rem;
    }
}
@media only screen and (max-width: 950px) {
    .section-cursosComunidad-container {
        padding: 0;
        flex-direction: column;
    }
    .section-cursosComunidad-p1 {
        width: 100%;
    }  
    .comunidad-img {
        height: 350px;
        width: 100%;
    }
    .sociedad-llc_container {
        max-height: max-content;
    }
    .img-bitcoin {
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    .section-cursosComunidad-tiulo-h1 {
        font-size: 2rem;
    }
    .section-cursosComunidad-tiulo-h2 {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 600px) {
    .comunidad-img {
        height: 200px;
    }
    .section-cursosComunidad-p1_p {
        font-size: .7rem;
    }
}
/* EBOOK */
@media screen and (max-width:750px){
    .section-ebook-1, .section-ebook-2{
        width: 100%;
    }
    .section-ebooks-h1{
        font-size: 2rem;
    }
    .section-ebook-1 h2, .section-ebook-2 h2{
        font-size: 1rem;
    }
    .section-ebook-1 p, .section-ebook-2 p{
        font-size: .8rem;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .section-ebook-1 a, .section-ebook-2 a{
        font-size: .9rem;
    }
    .section-ebooks-container{
        flex-direction: column;
    }
    .section-ebook-1 img, .section-ebook-2 img{
        height: 350px;
    }
    .section-ebook-imgButon{
        padding: 0;
    }
}
/* SOBRE NOSOTROS */
@media screen and (max-width:900px){
    .sNosotros h1{
        font-size: 1.8rem;
    }
    .sNosotros-card-info h2{
        font-size: 1.3rem;
    }
    .sNosotros-card-info p{
        font-size: .8rem;
    }
}
@media screen and (max-width:800px){
    .sNosotros-info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .sNosotros-card{
        width: 100%;
        min-height: max-content;
    }
    .sNosotros-card-info{
        margin: 2rem;
    }
}
/* FOOTER */
@media screen and (max-width:800px){
    .footer-container{
        gap: 2rem;
    }
    .footer-logo a img{
        width: 70px;
    }
    .footer-titulos h1{
        font-size: 1.2rem;
    }
    .footer-titulos p{
        font-size: .8rem;
    }
    .footer-contacto h2{
        font-size: 1.2rem;
    }
    .footer-iconos a{
        font-size: .8rem;
        width: 30px;
        height: 30px;
    }
    .footer-dr{
        font-size: .5rem;
    }
}
@media screen and (max-width:600px){
    .footer-container{
        gap: 1rem;
    }
    .footer-logo a img{
        width: 50px;
    }
    .footer-titulos h1{
        font-size: .8rem;
    }
    .footer-titulos p{
        font-size: .6rem;
        font-weight: 700;
    }
    .footer-contacto h2{
        font-size: .6rem;
    }
    .footer-iconos a{
        font-size: .8rem;
        width: 25px;
        height: 25px;
    }
    .footer-iconos{
        gap: 10px;
    }
}